*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#1a1a2e;
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100vw;
    
}
#title{
    text-align: center;
    
    
}
#title h1{
    background: linear-gradient(90deg, #df7f13, #dfdb0d, #b3ac9b);
  -webkit-background-clip: text;
  background-clip:text;
  color:transparent;
}
#subtitle{
    text-align: start;
    padding-left:100px;
}

#cardsection{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    gap:30px;
    padding:20px 15px;
    margin:20px auto;
    border-bottom: 4px solid whitesmoke;
}
.beforecard{
    height:230px;
    width:180px;
    border:2px solid whitesmoke;
    box-shadow: 01px 1px 5px 2px goldenrod;
    padding:10px 8px;
    border-radius: 14px;
    outline: none;
}
.beforecard:hover{
    transform:translateY(-6px);
    filter:brightness(1.08);
    transition: 0.5s all ease;
}
.beforecard .h3ctn{
    height:12%;
    text-align: center;
    
}
.beforecard .pctn{
    height:23%;
    text-align: center;
    padding-top:5px;
}
.beforecard .imgctn{
    height:60%
}
.beforecard .h3ctn,.imgctn,.pctn{
    margin-bottom: 5px;
    background-color: rgba(240, 234, 234,0.1);
    border-radius: 5px;
}
.imgctn img{
    object-fit: cover;
    height:100%;
    width:100%;
    border-radius:inherit;
    opacity:0.9;
}
.text-green {
    color: #2ecc71; 
    font-weight: bold;
}

.text-red {
    color: #e74c3c; 
    font-weight: bold;
}
